PORT=5000
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="replace_with_a_super_secret_random_key_min_32_chars"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
